html body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 40px;
}
header {
    margin-bottom: 40px;
    width: 100%;
    border-bottom: 1px solid #c0c0c0;    
    color: white;
}

header.img {
    padding: 10px;
}
